/*
Typography is the way that text is arranged and presented
*/

body {
    padding: 10%;
    font-size: 1rem;
}

/* input, button {
    font: inherit;
} */

p {
    text-decoration: none;/*used for link */
   /*  text-transform: uppercase; */
   /* text-align: right; */
   /* text-indent: 2em; */
   /* use the auto search option for more like these */
   line-height: 1.5;
   /* letter-spacing: 0.1em; */
   /* word-spacing: 0.5em; */
   font-
}



