html {
    font-size: 30px;
}

body {
    color: aliceblue;
    background-color: black;
}

h1 {
    font-size: 40px;
   color: aquamarine;
   border: 2px;
   border-radius: 2px;
   border-style:ridge;
   border-color: azure;
}

.hello {
    color: burlywood;
}

p {
    font-size: 25px;
}

.p1,.p2,.p3 {
    color: gray;
}

#second {
    font-style: italic;
}

.span1 {
    text-transform: uppercase;
    background-color: gold;
}