* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px, auto, 75px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft ft";
    column-gap: 0.5rem;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.siderbar {
    grid-area: sb;
    background-color: brown;
}

.footer {
    grid-area: ft;
}

.container {
    grid-area: mn;
    display: grid;
    min-height: 400px; /* Total height */
    /* grid-auto-flow: column; */
    /* grid-template-rows:auto ; */
    grid-template-columns: /* 200px 1fr 1fr or */ repeat(2,1fr 1fr);
    /* Fraction unit- specifficaly used for grid in css */
    grid-auto-columns: minmax(auto, auto) ;
    grid-auto-rows: /* 150-height per box  */minmax(150px, auto);
/*     row-gap: 1em;
    column-gap: 1em; */
    gap: 1rem; /* bth in one */
}

.box {
    background-color: black;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

/* .box:nth-child(1) or */
.box:first-child {
    background-color: blue;
        /* Line in each case start from the edge of the screen. */
   /*  grid-column-start: 1; 
    grid-column-end: 4; or */
    grid-column: 1 / 4;
/*     grid-row-start: 1;
    grid-row-end: 3; or*/
    grid-row: 1/3;

    display: grid;
/*     align-content: center;
    justify-content: center; or */
    place-content: center/* center (use second if different) */;
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1/5;
    grid-row: 3/4;
    place-content:center; /* Not able to use and display text in proper center */

}
.box:last-child {
    background-color:chocolate;
    grid-column: 2/5;
    grid-row: 4/5;
    place-content: center;
}